<Row>
    <SearchBar/>
    <Row Style="padding: 2rem" Flex="Flex.JustifyContent.Around">
        <Button Color="Color.Primary" Clicked="OnAddMemberButton_Clicked">Tilføj Medlem</Button>
    </Row>
</Row>

<DataGrid TItem="Membership"
          Data="Group.Memberships">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(Member.Id)" Sortable="true" Caption="Id">
            <DisplayTemplate>
                <Button Clicked="() => OnEditMemberLink_Clicked(context.Id)" Color="Color.Link">@context.Id</Button>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn Field="Member.FirstName" Sortable="true" Caption="Fornavn"/>
        <DataGridColumn Field="Member.LastName" Sortable="true" Caption="Efternavn"/>
        <DataGridColumn Field="Member.Gender" Sortable="true" Caption="Køn"/>
        <DataGridColumn Field="Member.Address" Sortable="true" Caption="Adresse"/>
        <DataGridColumn Field="Member.PhoneNumber" Sortable="true" Caption="Telefon"/>
        <DataGridColumn Sortable="true">Rolle</DataGridColumn>
        <DataGridColumn Field="Member.Id" Sortable="true" Caption="Administrer">
            <DisplayTemplate>
                <Button Clicked="() => OnRemoveMemberButton_Clicked(context.Id)" Color="Color.Danger">Slet</Button>
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

<MembershipOverviewAddMemberModal @ref="_addMemberModal" Group="Group" OnGroupContentChanged="@OnMemberAdded"/>

<MembershipOverviewRemoveMemberModal @ref="_removeMemberModal" Group="Group" OnGroupContentChanged="@OnMemberAdded" MembershipToBeDeleted="MembershipToBeDeleted"/>

@code {

    [Parameter]
    public MemberGroup Group { get; set; } = new();

    [Parameter]
    public EventCallback OnMemberAdded { get; set; }

    private MembershipOverviewAddMemberModal? _addMemberModal;
    private MembershipOverviewRemoveMemberModal? _removeMemberModal;
    private Membership MembershipToBeDeleted { get; set; } = new();

    private void OnEditMemberLink_Clicked(int memberId)
    {
        NavigationManager.NavigateTo($"/edit-member/{memberId}");
    }

    private async Task OnAddMemberButton_Clicked()
    {
        await _addMemberModal!.Show();
    }

    private async Task OnRemoveMemberButton_Clicked(int memberId)
    {
        MembershipToBeDeleted = Group.Memberships.FirstOrDefault(x => x.Member.Id == memberId)!;
        await _removeMemberModal!.Show();
    }

}