<div class="container mt-3">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="firstName" class="form-label">Fornavn</label>
                            <input type="text" class="form-control" id="firstName" formControlName="firstName"
                                [ngClass]="{ 'is-invalid': submitted && f['firstName']?.errors }" />

                            <small *ngIf="
                            f['firstName']?.errors?.['containsOnlyWhiteSpaces'] || createUserForm.get('firstName')?.touched
                            && !createUserForm.get('firstName')?.valid">
                                Indtast et gyldigt fornavn
                            </small>

                        </div>
                        <div class="mb-3 col-6">
                            <label for="lastname" class="form-label">Efternavn</label>
                            <input type="text" class="form-control" id="lastname" formControlName="lastName"
                                [ngClass]="{ 'is-invalid': submitted && f['lastName']?.errors }" />

                            <small *ngIf="
                            f['lastName']?.errors?.['containsOnlyWhiteSpaces'] || createUserForm.get('lastName')?.touched
                            && !createUserForm.get('lastName')?.valid">
                                Indtast et gyldigt efternavn
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="phoneNumber" class="form-label">Telefon</label>
                            <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" />

                            <small
                                *ngIf="!createUserForm.get('phoneNumber')?.valid && createUserForm.get('phoneNumber')?.touched">
                                Indtast dit telefonnummer
                            </small>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="gender" class="form-label">Køn</label>
                            <select class="form-select" name="genderSelect" id="gender" formControlName="gender">
                                <option *ngFor="let gender of genders | keyvalue" [value]="gender.value">
                                    {{gender.key}}
                                </option>
                            </select>
                            <small
                                *ngIf="!createUserForm.get('gender')?.valid && createUserForm.get('gender')?.touched">
                                Vælg en fra dropdown
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="address">Adresse</label>
                            <input type="text" class="form-control" id="address" formControlName="address" />
                        </div>
                        <small *ngIf="!createUserForm.get('address')?.valid && createUserForm.get('address')?.touched">
                            Indtast din adresse
                        </small>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" />
                        </div>
                        <small *ngIf="!createUserForm.get('email')?.valid && createUserForm.get('email')?.touched">
                            Indtast en gyldig email
                        </small>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="password" class="form-label">Adgangskode</label>
                            <input type="password" class="form-control" id="password" formControlName="password" />

                            <small
                                *ngIf="createUserForm.get('password')?.invalid && createUserForm.get('password')?.touched">
                                Indtast gyldigt password <br>
                                (Minimum 6 karakter, 1 specialtegn, 1 tal, 1 lille bogstav, 1 stort bogstav)
                            </small>
                        </div>

                        <div class="mb-3 col-6">
                            <label for="password2" class="form-label">Gentag Adgangskode</label>
                            <input type="password" class="form-control" id="password2" formControlName="password2"
                                [ngClass]="{ 'is-invalid': submitted && f['password2']?.errors }" />

                            <small
                                *ngIf="f['password2']?.errors?.['matching'] && createUserForm.get('password2')?.touched">
                                Adgangskoder stemmer ikke overens
                            </small>

                            <small *ngIf="createUserForm.get('password2')?.touched && !f['password2']?.errors?.['matching']
                            && createUserForm.get('password2')?.invalid">
                                Gentag adgangskode
                            </small>

                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" [disabled]="!createUserForm.valid">
                        Opret
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>