Organizr.Api/bin
Organizr.Api/obj

Organizr.Core/bin
Organizr.Core/obj

Organizr.Infrastructure/bin
Organizr.Infrastructure/obj

Organizr.Application/bin
Organizr.Application/obj

Organizr.AppAdmin/bin
Organizr.AppAdmin/obj

Organizr.Application/bin
Organizr.Application/obj

.vs
.idea