Organizr.Application/bin
Organizr.Application/obj

Organizr.Domain/bin
Organizr.Domain/obj

Organizr.Infrastructure/bin
Organizr.Infrastructure/obj

Organizr.Api/bin
Organizr.Api/obj

Organizr.Admin/obj
Organizr.Admin/bin

Organizr.Test/bin
Organizr.Test/obj

Organizr.Api.csproj.user
Organizr.sln.DotSettings.user

Organizr.Member/node_modules



.vs
.idea