@page "/Configurations"
@using Organizr.Application.Requests.Configurations
@using Organizr.Domain.Entities
@using Organizr.Application.Commands

@attribute [Authorize]

<h3>Konfigurationer</h3>

<CardDeck Padding="Padding.Is3">
    <Card ColumnSize="ColumnSize.Is6">
        <CardBody>
            <CardTitle Size="5">Nyhedskonfigurationer</CardTitle>
            <Field>
                <FieldLabel>Aktiver kommentarer på Nyheder</FieldLabel>
                <Check TValue="bool">Aktiv</Check>
            </Field>
            <Field>
                <FieldLabel>Aktiver mulighed for at skrive kommentarer til Nyheder for Administratorer</FieldLabel>
                <Check TValue="bool">Aktiv</Check>
            </Field>
            <Field>
                <FieldLabel>Aktiver mulighed for at skrive kommentarer til Nyheder for Medlemmer</FieldLabel>
                <Check TValue="bool">Aktiv</Check>
            </Field>
        </CardBody>
    </Card>

    <Card ColumnSize="ColumnSize.Is6">
        <CardBody>
            <CardTitle Size="5">Opret nyheder</CardTitle>
            <Field>
                <FieldLabel>Giv alle medlemmer mulighed for at oprette nyheder?</FieldLabel>
                <Check TValue="bool">Aktiv</Check>
            </Field>
        </CardBody>
    </Card>
</CardDeck>

<CardDeck Padding="Padding.Is3">
    <Card ColumnSize="ColumnSize.Is6">
        <CardBody>
            <CardTitle Size="5">Medlemsskab</CardTitle>
            <Field>
                <FieldLabel>Vælg hvilken gruppe der skal tilmeldes ved oprettelse af Medlemsskab</FieldLabel>
                <Select TValue="int" Width="Width.Is50">
                    @foreach (var group in ConfigurationList)
                    {
                        <SelectItem Value="@group.Id">Gruppe @group.Id</SelectItem>    
                    }
                    
                </Select>
            </Field>
        </CardBody>
    </Card>

    <Card ColumnSize="ColumnSize.Is6">
        <CardBody>
            <CardTitle Size="5">Organisations data</CardTitle>
            <Field>
                <FieldLabel>Organisations adresse</FieldLabel>
                <TextEdit @bind-Text="ConfigOrganizationAddress"/> 
            </Field>

        </CardBody>
    </Card>
</CardDeck>

<Button Color="Color.Primary" Clicked="OnSaveButton_Clicked">Gem</Button>

<Alert @bind-Visible="ConfigurationsHasBeenSaved">
    <AlertMessage>Konfigurationer er gemt</AlertMessage>
</Alert>

@code {
    private List<Configuration> ConfigurationList { get; set; } = new ();
    private string? ConfigOrganizationAddress { get; set; } = string.Empty;
    private bool ConfigurationsHasBeenSaved { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await Mediator.Send(new GetAllConfigurationsOfTypeConfigurationRequest());

        ConfigurationList = response.Configurations;
        
        await SetConfigurationValues();
    }

    private Task SetConfigurationValues()
    {
        ConfigOrganizationAddress = ConfigurationList.First(config => config.Id == 1).StringValue;
        return Task.CompletedTask;
    }

    private async Task OnSaveButton_Clicked()
    {
        ConfigurationsHasBeenSaved = false;

        var request = new UpdateConfigurationsOfTypeConfigCommand
        {
            OrganizationAddress = new Configuration {StringValue = ConfigOrganizationAddress}
        };

        var response = await Mediator.Send(request);

        ConfigurationsHasBeenSaved = response.Succeeded;
    }

}