<div class="container mt-3">
    <div class="row">
        <div class="col align-self-center">
            <section class="content" *ngIf="topText" [innerHTML]="topText"></section>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <section class="content" *ngIf="leftBoxText" [innerHTML]="leftBoxText">
            </section>            
        </div>
        <div class="col-6">
            <google-map height="400px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                <map-marker [position]="center"></map-marker>
            </google-map>
        </div>
    </div>
</div>