@page "/PageSetup"

<h3>Sideopsætning</h3>

<Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
    <Items>
        <Tab Name="Forside">Home</Tab>
        <Tab Name="Om os">Profile</Tab>
        <Tab Name="Kontakt">Messages</Tab>
        <Tab Name="Opret medlemskab">Settings</Tab>
    </Items>
    <Content>
        <TabPanel Name="Forside">
            <PageEdit UsedFor="Frontpage"></PageEdit>
        </TabPanel>
        <TabPanel Name="Om os">
            <PageEdit UsedFor="About" />
        </TabPanel>
        <TabPanel Name="Kontakt">
            <PageEdit UsedFor="Contact" />
        </TabPanel>
        <TabPanel Name="Opret medlemskab">
            <PageEdit UsedFor="CreateMembership" />
        </TabPanel>
    </Content>
</Tabs>

@code{
    string selectedTab = "profile";

    private Task OnSelectedTabChanged( string name )
    {
        selectedTab = name;

        return Task.CompletedTask;
    }
}