@inherits LayoutComponentBase

@inject ILocalStorageService LocalStorage

<PageTitle>Organizr.Admin</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <span>
                        <button class="btn btn-link btn-sm" onclick="@OnMemberId_Clicked">(@_memberId)</button>
                        @_loggedInMember.GetFullName()
                    </span>
                    <a href="/logout" target="_blank">Log ud</a>
                </div>
            </Authorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private int _memberId;
    private Member _loggedInMember = new();

    protected override async Task OnInitializedAsync()
    {
        var authId = await LocalStorage.GetItemAsync<int>("authId");
        _loggedInMember = await MemberService.GetMemberById(authId);
        _memberId = _loggedInMember.Id;
    }

    private Task OnMemberId_Clicked()
    {
        NavigationManager.NavigateTo($"/edit-member/{_memberId}");
        return Task.CompletedTask;
    }
}