@page "/counter"
@using Organizr.Api.Controllers
@using Organizr.Core.Services

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>
    @amountOfGroups    
</p>

@code {
    private int currentCount = 0;
    private int amountOfGroups = -999;

    private void IncrementCount()
    {
        currentCount++;

        amountOfGroups = GroupService.GetGroups().Count;
    }

}