@page "/CssSetup"

<h3>Opsætning af CSS for Member-applikationen</h3>

<Column ColumnSize="ColumnSize.Is6">
    <MemoEdit Rows="30" AutoSize Disabled="!_editingActivated"/>
</Column>

<Field>
    <FieldLabel>Aktiver redigering</FieldLabel>
    <Check TValue="bool" @bind-Checked="_editingActivated">Aktiver Redigering</Check>
</Field>

<Button Color="Color.Primary">Gem</Button>
@code {
    private bool _editingActivated = false;

    private void OnActivateEditingCheckbox_Checked()
    {
        
    }
}