@page "/css-setup"

@attribute [Authorize]

<Heading Size="HeadingSize.Is3">Opsætning af CSS for Member-applikationen</Heading>

<Div>
    <Column ColumnSize="ColumnSize.Is6" Padding="Padding.Is0">
        <MemoEdit Rows="30" AutoSize @bind-Text="@ConfigCss.StringValue" Disabled="!_editingActivated"/>
    </Column>

    <Field TextAlignment="TextAlignment.End" ColumnSize="ColumnSize.Is6">
        <Check TValue="bool" @bind-Checked="_editingActivated">Aktiver Redigering</Check>
    </Field>

    <Button Color="Color.Primary" Clicked="@OnSaveButton_Clicked">Gem</Button>

</Div>

<Snackbar @ref="_snackbarSuccess" Color="SnackbarColor.Success">
    <SnackbarBody TextWeight="TextWeight.Bold">
        CSS Opsætningen er blevet gemt
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="_snackbarError" Color="SnackbarColor.Danger">
    <SnackbarBody TextWeight="TextWeight.Bold">
        CSS Opsætningen kunne ikke gemmes 
    </SnackbarBody>
</Snackbar>

@code {
    private Configuration ConfigCss { get; set; } = new();
    private bool _editingActivated;
    private Snackbar _snackbarSuccess = new();
    private Snackbar _snackbarError = new();

    protected override async Task OnInitializedAsync()
    {
        var cssConfig = await ConfigurationService.GetAllConfigurationsOfType(ConfigType.CssSetup);
        ConfigCss = cssConfig.First();
    }

    private async Task OnSaveButton_Clicked()
    {
        var result = await ConfigurationService.UpdateConfigurationsOfType(ConfigType.CssSetup, new List<Configuration> {ConfigCss});

        if (!result.IsSuccessStatusCode)
        {
            await _snackbarError.Show();
        }
        else
        {
            await _snackbarSuccess.Show();
        }
    }

}