<!-- Navbar -->
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="sign-up">LOGO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbarNavAltMarkup" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="sign-up">Opret Medlemskab</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about-us">Om os</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact-us">Kontakt Os</a>
        </li>
      </ul>
      <span *ngIf="!isUserLoggedIn">
        <h3 type="button" routerLink="login">
          <i class="bi bi-box-arrow-in-right"></i>
        </h3>
      </span>
      <span *ngIf="isUserLoggedIn">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="user">Min Side</a>
          </li>
          <h3 type="button" (click)="signOut()">
            <i class="bi bi-box-arrow-left"></i>
          </h3>
        </ul>
        
      </span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>