<Fields ColumnSize="ColumnSize.Is6">
    <FieldLabel>Søg Person</FieldLabel>
    <TextEdit Placeholder="...Not Yet Implemented"></TextEdit>
    <Label>Der kan søges på Navn, Adresse, Telefon, Køn</Label>
</Fields>

<Divider/>

@code {
    //TODO Implement logic
}