@page "/create-group"
@using Blazorise.Extensions

@attribute [Authorize]

<h3>Opret gruppe</h3>

<Fields>
    <Field ColumnSize="ColumnSize.Is4">
        <FieldLabel>Navn:</FieldLabel>
        <TextEdit @bind-Text="GroupName" Placeholder="Gruppenavn"></TextEdit>
    </Field>

    <Field>
        <FieldLabel>Åben for alle</FieldLabel>
        <Check TValue="bool" @bind-Checked="IsOpen">Aktiv</Check>
    </Field>
</Fields>

<Button Clicked="@OnSaveButton_Clicked" Color="Color.Primary">Gem</Button>

<Snackbar @ref="_snackbarSuccess" Color="SnackbarColor.Success">
    <SnackbarBody TextWeight="TextWeight.Bold">
        @GroupName er nu blevet oprettet
    </SnackbarBody>
</Snackbar>

<Snackbar @ref="_snackbarError" Color="SnackbarColor.Danger">
    <SnackbarBody TextWeight="TextWeight.Bold">
        @GroupName kunne ikke oprettes
    </SnackbarBody>
</Snackbar>

@code {
    private string GroupName { get; set; } = string.Empty;
    private bool IsOpen { get; set; }
    private Snackbar _snackbarSuccess = new();
    private Snackbar _snackbarError = new();

    private async Task OnSaveButton_Clicked()
    {
        if (GroupName.IsNullOrEmpty())
        {
            await _snackbarError.Show();
            return;
        }

        var groupToCreate = new MemberGroup
        {
            Name = GroupName,
            IsOpen = IsOpen
        };
        
        var createdGroup = await GroupService.CreateNewGroup(groupToCreate);

        if (createdGroup is null)
        {
            await _snackbarError.Show();
            return;
        }

        await _snackbarSuccess.Show();
        GroupName = createdGroup.Name;
    }
}