@page "/SearchGroup"
@using Organizr.Core.Entities
@using Organizr.Application.Requests

<h3>Søg gruppe</h3>

<SearchBar/>

<DataGrid TItem="UserGroup"
          Data="UserGroups"
          FixedHeader="true"
          Editable="true"
          RowSelectable="_ => false">
    <DataGridColumns>
        <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false">
                <DeleteCommandTemplate>
                    <Button Size="Size.Small" Color="Color.Danger">Slet</Button>
                </DeleteCommandTemplate>
            </DataGridCommandColumn>
        <DataGridColumn Field="@nameof(UserGroup.Id)" Caption="Gruppe ID">
            <DisplayTemplate>
                <Button Clicked="() => OnEditGroupLink_Clicked(context.Id)" Color="Color.Link">@context.Id</Button>
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn Field="@nameof(UserGroup.Name)" Caption="Navn"/>
        <DataGridColumn Field="@nameof(UserGroup.Open)" Caption="Åben for alle">
            <DisplayTemplate>
                <Check TValue="bool" Checked="context.Open" Disabled="true"></Check>
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@code {

    private List<UserGroup> UserGroups { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Mediator.Send(new GetAllUserGroupsRequest());
        UserGroups = (List<UserGroup>) response.UserGroups;
    }

    private void OnEditGroupLink_Clicked(int id)
    {
        NavigationManager.NavigateTo($"EditGroup/{id}");
    }

}