<Div Flex="Flex.JustifyContent.Center">
    <PageTitle>Organizr</PageTitle>

    <Field ColumnSize="ColumnSize.Is4">
        <FieldLabel>Email address</FieldLabel>
        <TextEdit Role="TextRole.Email" Placeholder="Indtast email" @bind-Text="_email" />
        <FieldLabel>Password</FieldLabel>
        <TextEdit Role="TextRole.Password" Placeholder="Indtast password" @bind-Text="_password" />
    </Field>

    <Alert Visible="ShowErrors" Color="Color.Danger">
        <AlertMessage>Brugernavn eller password er forkert</AlertMessage>
    </Alert>
</Div>
<Div Flex="Flex.JustifyContent.Center">
    <Button Color="Color.Primary" Clicked="OnLoginButton_Clicked">Login</Button>
</Div>


@code {

    private string _email = string.Empty;
    private string _password = string.Empty;
    private bool ShowErrors { get; set; }

    private readonly UserLoginRequest _userLoginRequest = new();

    private async Task OnLoginButton_Clicked()
    {
        _userLoginRequest.Email = _email;
        _userLoginRequest.Password = _password;

        var response = await Mediator.Send(new UserLoginRequest()
        {
            Email = _email,
            Password = _password
        });
        
        if (response.Succeeded)
        {
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            ShowErrors = true;
        }
    }
}