<Div Flex="Flex.JustifyContent.Center">
    <PageTitle>Organizr</PageTitle>

    <Field ColumnSize="ColumnSize.Is4">
        <FieldLabel>Email address</FieldLabel>
        <TextEdit Role="TextRole.Email" Placeholder="Indtast email" @bind-Text="_email"/>
        <FieldLabel>Password</FieldLabel>
        <TextEdit Role="TextRole.Password" Placeholder="Indtast password" @bind-Text="_password"/>
    </Field>
</Div>

<Div Flex="Flex.JustifyContent.Center">
    <Button Color="Color.Primary" Clicked="OnLoginButton_Clicked">
        Login
    </Button>
</Div>

<br/>

<Snackbar @ref="_snackbar" Color="SnackbarColor.Danger">
    <SnackbarBody TextWeight="TextWeight.Bold">
        Brugernavn eller Password er forkert
    </SnackbarBody>
</Snackbar>

@code {

    private string _email = string.Empty;
    private string _password = string.Empty;
    private Snackbar _snackbar = new();

    private async Task OnLoginButton_Clicked()
    {
        var response = await LoginService.Login(_email, _password);

        if (response is null)
        {
            await _snackbar.Show();
            return;
        }

        if (response.Succeeded)
        {
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            await _snackbar.Show();
        }
    }
}