<div class="container mt-3 d-flex align-items-center">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-4">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="send()">

                <div class="container">
                    <div class="row">
                        <div class="col mb-3 text-center">
                            <label for="email" class="form-label text-center">Email</label>
                            <input type="email" formControlName="email" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Praesent leo elit, malesuada a condimentum eget, euismod
                            ut odio. Vivamus posuere urna luctus massa molestie aliquam.
                            Cras eu neque imperdiet, ullamcorper dolor vitae, pulvinar eros.
                            Duis maximus mi tortor, dapibus ornare elit vulputate nec. Proin
                            risus lacus, vulputate in dignissim non, feugiat sollicitudin arcu.
                        </div>

                    </div>

                    <div class="row">
                        <div class="col mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">
                                Send
                            </button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>