<div class="container my-3" *ngFor="let news of newsposts">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5> {{news.title}} </h5>
                    <h6 class="text-muted"> {{news.member.firstName}} {{news.member.lastName}} D. {{news.createdAt}}</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{news.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
