<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Mine Grupper</h3>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Alle Grupper</h3>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let group of allGroups">
                    
                    {{group.name}}

                    <button (click)="joinGroup(group.id)" class="btn btn-success" *ngIf="group.isOpen">
                        Tilmeld
                    </button>

                    <button class="btn btn-danger" disabled *ngIf="!group.isOpen">
                        Lukket gruppe
                    </button>

                </li>
            </ul>
        </div>
    </div>

</div>