<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h3>Mine Grupper</h3>
            <hr>
            <app-my-groups [userId]="loggedInUser" [groups]="myGroups"></app-my-groups>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Alle Grupper</h3>
            <hr>
            <app-all-groups (memberIsAddedToGroup)="ngOnInit()" [userId]="loggedInUser" [groups]="allGroups"></app-all-groups>
        </div>
    </div>

</div>